@*//getitng session*@

@{
    var userId = Context.Session.GetString("userID");
    //var userName = Context.Session.GetString("userName");
}


<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</head>
<body>
    <nav class="py-2 bg-light border-bottom">

        <!-- side bar starts here -->
        <div class="flex-shrink-0 p-3 bg-white sidebar-filter" style="width: 280px;">
            <i class="bi bi-x" id="close-btn"></i>
            <a href="/" class="d-flex align-items-center pb-3 mb-1 link-dark text-decoration-none border-bottom ">

                <span class="fs-5 fw-semibold">Filters</span>
            </a>
            <ul class="list-unstyled ps-0 d-flex flex-column justify-content-center ms-4">
                <li class="mb-1">
                    <a class="d-inline-flex align-items-center rounded border-0 collapsed dropdown-toggle sidebar-filter-button"
                       data-bs-toggle="collapse" data-bs-target="#country-collapse" aria-expanded="true">
                        Country
                    </a>

                    <div class="collapse show ms-3" id="country-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column">
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li> -->
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="india" id="" value="india">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">india</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="USA" id="" value="USA">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">USA</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="canada" id="" value="canada">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">canada</a></li>
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li> -->
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> -->
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <a class="d-inline-flex align-items-center rounded border-0 collapsed dropdown-toggle sidebar-filter-button"
                       data-bs-toggle="collapse" data-bs-target="#city-collapse" aria-expanded="true">
                        City
                    </a>

                    <div class="collapse show ms-3" id="city-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column">
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li> -->
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="india" id="" value="india">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">india</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="USA" id="" value="USA">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">USA</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="canada" id="" value="canada">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">canada</a></li>
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li> -->
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> -->
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <a class="d-inline-flex align-items-center rounded border-0 collapsed dropdown-toggle sidebar-filter-button"
                       data-bs-toggle="collapse" data-bs-target="#theme-collapse" aria-expanded="true">
                        Theme
                    </a>

                    <div class="collapse show ms-3" id="theme-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column">
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li> -->
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="india" id="" value="india">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">india</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="USA" id="" value="USA">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">USA</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="canada" id="" value="canada">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">canada</a></li>
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li> -->
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> -->
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <a class="d-inline-flex align-items-center rounded border-0 collapsed dropdown-toggle sidebar-filter-button"
                       data-bs-toggle="collapse" data-bs-target="#skills-collapse" aria-expanded="true">
                        Skills
                    </a>

                    <div class="collapse show ms-3" id="skills-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column">
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li> -->
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="india" id="" value="india">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">india</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="USA" id="" value="USA">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">USA</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="canada" id="" value="canada">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">canada</a></li>
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li> -->
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> -->
                        </ul>
                    </div>
                </li>
                <hr>


                <li class="mb-1 story-sidebar" id="stories-li">
                    <a class="border-0 collapsed sidebar-filter-button">
                        Stories
                    </a>
                </li>

                <li class="mb-1 ms-1 policy-sidebar">
                    <a class="d-inline-flex align-items-center rounded border-0 collapsed dropdown-toggle sidebar-filter-button"
                       data-bs-toggle="collapse" data-bs-target="#policy-collapse" aria-expanded="true">
                        Policy
                    </a>
                    <div class="collapse show ms-3" id="policy-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-flex flex-column">
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li> -->
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="india" id="" value="india">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">india</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="USA" id="" value="USA">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">USA</a></li>
                            <li class="d-inline-flex align-items-center text-decoration-none rounded"><input type="checkbox" name="canada" id="" value="canada">&nbsp;<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">canada</a></li>
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li> -->
                            <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- side bar ends0 here -->



        <div class="container d-flex">
            <i class="bi bi-list d-flex justify-content-center align-items-center me-3" id="menu"></i>
            <i class="bi bi-search d-flex justify-content-center align-items-center ms-5 mt-2" id="navbar-search-in-small-devices"></i>
            <input type="search" id="search-input-navbar-small" placeholder="Search.." class="ms-5 p-0 w-50 ps-2 spaceInUp">
            <ul class="nav me-auto d-flex align-items-center gap-3">

                <li class="nav-item story-navbar"><a asp-controller="Home" asp-action="Story" class="nav-link link-dark px-2">Stories</a></li>

                <!-- <div class="navbar-collapse" id="navbarNavDarkDropdown"> -->
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item dropdown policy-navbar">
                        <a class="dropdown-toggle text-decoration-none text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>

            <!-- </div> -->

            <div class="dropdown text-end d-flex align-items-center">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                    @{
                        if (@userId != null)
                        {
                            <span class="user-name">@userId</span>
                        }

                    }

                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @{
                        if (userId != null)
                        {
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Sign out</a></li>
                        }
                    }


                </ul>
            </div>




        </div>
    </nav>

</body>

</html>
